
{%- style -%}

.items-list{
    background-color: {{ section.settings.color }};
}

{%- endstyle -%}
<style>
.item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top : 100px;
    padding-bottom:100px;
}
.item-list-box{
    width: 50%;
   height: 100%;
   padding:20px;
}
.item-list-box img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    
}
.item-list-box.des {
    display:flex;
    justify-content:center;
    align-items:start;
    flex-direction: column;
}

</style>


<div class="item-list page-width ">

    {{section.settings.color}}
    <div class="item-list-box">
        <img
            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
            sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
            src="{{ section.settings.image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
          >
    </div>
    <div class="item-list-box des">

        {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'title' -%}
                {%- if block.settings.title != blank -%}
                  <div>{{ block.settings.title }}</div>
                  {%- endif -%}

                  {%- when 'content' -%}
                    {%- if block.settings.des != blank -%}
                        <div>{{ block.settings.des }}</div>
                      {%- endif -%}


                      {%- when 'link' -%}
                        {%- if block.settings.downloadlabel != blank -%}
                            <div>{{ block.settings.downloadlabel }}</div>
                            <div>{{ block.settings.download }}</div>
                          {%- endif -%}


            {%- endcase -%}
          {%- endfor -%}
          




    </div>


</div>


{% schema %}
{
"name": "清单",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "图片"
},
{
    "type": "color",
    "id": "color",
    "label": "背景颜色"
    }


],
"blocks": [


{
    "type":"title",
    "name":"标题",
    "settings":[
    { 
        "type": "text", 
        "id":"title", 
        
        "label": "标题"
        }
    ]
},
{
    "type":"content",
    "name":"内容",
    "settings":[
    { 
        "type": "text", 
        "id":"des", 
        "label": "内容"
        }
    ]
}
,{
    "type":"link",
    "name":"链接",
    "settings":[
    { 
        "type": "text", 
        "id":"downloadlabel", 
        "label": "链接名"
        },
    { 
        "type": "text", 
        "id":"download", 
        "label": "链接"
        }
    ]
}




],
"presets": [
{
"name": "清单",
"blocks": [
{
"type": "title"
},
{
    "type": "content"
    },
    {
        "type": "link"
        }
    

]
}
]
}
{% endschema %}