{%- style -%}

.item-list-wrapper{
background-color: {{ section.settings.color }};
color:{{ section.settings.colorfont }};


}


@media screen and (max-width: 750px) {
    .item-list{flex-direction: column;
    
        padding:1.5rem 30px;}
}




.item-list{
display: flex;
justify-content: center;
align-items: center;
min-height: 50vh;
padding-top : 100px;
padding-bottom:100px;
overflow:hidden;


}

@media screen and (max-width: 749px) {
    .item-list-box{
        width: 100% !important;
        margin:0px !important;
  
   
    }
}





.item-list-box{
    margin-right:10px;
width: 50%;
height: 100%;
 
}
.item-list-box img{
display:block;
width:100%;
height:100%;
object-fit:contain;

}
.item-list-box.des {
    margin-left:10px;
    margin-right:0px;
display:flex;
justify-content:center;
align-items:start;
flex-direction: column;
}

.item-list .llytitle{
font-weight: 600;
font-size: 40px;
line-height: 120%;
margin-bottom:16px;
margin-top:0px;
color:{{ section.settings.colorfont }};
}

@media screen and (max-width: 749px) {
    .item-list .llytitle{
        margin-top:30px;
}
}


@media screen and (max-width: 749px) {
    .item-list .des{
font-size: 14px !important;
line-height: 150%;
}
}

.item-list .des{
font-size: 16px;
line-height: 150%;
}

.item-list .llylink{

border: 1px solid {{ section.settings.colorfont }};
box-sizing: border-box;
border-radius: 8px;
padding:17px;
}
.item-list .llylinkname{
font-weight: 600;
font-size: 14px;
line-height: 120%;


}
.llylink{
display: flex;
justify-content: flex-start;
align-items: center;
margin-right:18px;
min-width:180px;
position:relative;

}


.llylink svg path{
    
    stroke: {{ section.settings.colorfont }};
    
}


.linkcontent{
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
margin-left:7px;
}

.llylink a { position:absolute;
width:100%;
height:100%;
top:0;
left:0;
color:transparent;}


.llylinkdes{
    font-size: 10px;
line-height: 120%;
}

@media screen and (max-width: 749px) {
    .buttoncontent{
    margin-top:24px !important;
}
}

@media screen and (min-width: 750px) {
    .buttoncontent{
    margin-top:50px;
}
}


@media screen and (max-width: 749px) {
    .buttoncontent{
        flex-direction: column;
        align-items: flex-start;
}

.llylink{
    
    margin-bottom:24px;
    margin-right:0px;
}


}
/* .buttoncontent{
    margin-top:50px
} */
{%- endstyle -%}
<style>


</style>

<div class="item-list-wrapper">

    <div class="item-list page-width ">


        <div class="item-list-box">
            <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
                src="{{ section.settings.image | img_url: '1500x' }}" loading="lazy"
                alt="{{ section.settings.image.alt | escape }}" width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}" {% if
                section.settings.image_2 !=blank %}class="banner__media-image-half" {% endif %}>
        </div>
        <div class="item-list-box des">

            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'title' -%}
            {%- if block.settings.title != blank -%}
            <h2 class="llytitle"">{{ block.settings.title }}</h2>
            {%- endif -%}

            {%- when 'content' -%}
            {%- if block.settings.des != blank -%}
            <div>{{ block.settings.des }}</div>
            {%- endif -%}


          


            {%- endcase -%}
            {%- endfor -%}

            <div class="fcc buttoncontent">
                {%- for block in section.blocks -%}
                {%- case block.type -%}




                {%- when 'link' -%}
                {%- if block.settings.downloadlabel != blank -%}
                <div class="llylink ">
                    <div class="fcc">{% render 'icon-download' %}</div>

                    <div class="linkcontent">
                           
                        <div class="llylinkname"> {{ block.settings.downloadlabel }}</div>
                        <div class="llylinkdes"> Download</div>

                       
                        <div>



                        </div>



                    </div>

                    <a href="{{ block.settings.download }}" target="_blank">{{ block.settings.download }}</a>
                </div>


                {%- endif -%}


                {%- endcase -%}
                {%- endfor -%}

            </div>





        </div>


    </div>

</div>





{% schema %}
{
"name": "清单",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "图片"
},
{
"type": "color",
"id": "color",
"label": "背景颜色"
},
{
    "type": "color",
    "id": "colorfont",
    "label": "文字颜色"
    }


],
"blocks": [


{
"type":"title",
"name":"标题",
"settings":[
{
"type": "text",
"id":"title",

"label": "标题"
}
]
},
{
"type":"content",
"name":"内容",
"settings":[
{
"type": "text",
"id":"des",
"label": "内容"
}
]
}
,{
"type":"link",
"name":"链接",
"limit":2, 
"settings":[
{
"type": "text",
"id":"downloadlabel",
"label": "链接名"
},
{
"type": "text",
"id":"download",
"label": "链接"
}
]
}




],
"presets": [
{
"name": "清单",
"blocks": [
{
"type": "title"
},
{
"type": "content"
},
{
"type": "link"
}


]
}
]
}
{% endschema %}